$primary-color: #7f56d9;

// Light Mode Colors
$light-primary-color: #2a2f72;
$light-secondary-color: #5b65b8;
$light-Background: #FAFAFA;
$light-Text: #212121;
$light-BoxShadow: rgba(0, 0, 0, 0.2);
$light-Border: rgba(211, 211, 211, 0.397);

// Dark Mode Colors
$dark-primary-color: #cbd1ff;
$dark-secondary-color: #e0e0ff;
$dark-Background: #121212;
$dark-Text: #E0E0E0;
$dark-BoxShadow: #d9dbdf;
$dark-Border: #444;
$dark-TextSecondary: #aaa;
